/runtime/vendored
/runtime/js/vendored
target
/runtime/tests/js/typescript_fixtures/typescript_stack_trace.ts

# Let's keep LICENSE.md in the same formatting as we use in other PL repositories
LICENSE.md
